In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from fredapi import Fred
fred = Fred(api_key='b6fbbe38921358076e9b7c60d3ffc1ed')

In [84]:
GS10 = fred.get_series('GS10')
df = pd.DataFrame(GS10, columns=['GS10'])

In [85]:
GS10

1953-04-01    2.83
1953-05-01    3.05
1953-06-01    3.11
1953-07-01    2.93
1953-08-01    2.95
              ...
2022-08-01    2.90
2022-09-01    3.52
2022-10-01    3.98
2022-11-01    3.89
2022-12-01    3.62
Length: 837, dtype: float64

In [86]:
df.tail()

            GS10
2022-08-01  2.90
2022-09-01  3.52
2022-10-01  3.98
2022-11-01  3.89
2022-12-01  3.62

In [87]:
tickers = ['GS2','T10Y2YM','BAMLC0A2CAAEY','BAMLC0A4CBBBEY','FEDFUNDS',
           'CORESTICKM159SFRBATL','DPCCRV1Q225SBEA','EXPINF1YR','EXPINF5YR',
           'PCOPPUSDM','POILWTIUSDM','PCOALAUUSDM','PALUMUSDM','PIORECRUSDM', # 금 제외
           'RTWEXBGS','UNRATE','A191RP1Q027SBEA','B075RC1Q027SBEA'] # 중국 gdp growth 제외

In [88]:
for t in tickers:
    temp_series = fred.get_series(t)
    temp_df = pd.DataFrame(temp_series, columns=[t])
    df = df.join(temp_df)
    print(f'Loaded {t} data!')

Loaded GS2 data!
Loaded T10Y2YM data!
Loaded BAMLC0A2CAAEY data!
Loaded BAMLC0A4CBBBEY data!
Loaded FEDFUNDS data!
Loaded CORESTICKM159SFRBATL data!
Loaded DPCCRV1Q225SBEA data!
Loaded EXPINF1YR data!
Loaded EXPINF5YR data!
Loaded PCOPPUSDM data!
Loaded POILWTIUSDM data!
Loaded PCOALAUUSDM data!
Loaded PALUMUSDM data!
Loaded PIORECRUSDM data!
Loaded RTWEXBGS data!
Loaded UNRATE data!
Loaded A191RP1Q027SBEA data!
Loaded B075RC1Q027SBEA data!

In [92]:
df['A191RP1Q027SBEA'].loc['2022-10-01'] = 5

In [93]:
ch = pd.read_excel('China_GDP_Growth.xlsx') # 역순
gold = pd.read_excel('gold price monthly.xlsx')

In [94]:
ch.rename(columns = {'기간':'date','성장률':'China GDP Growth'}, inplace=True)

In [96]:
ch = ch.iloc[::-1]
ch['China GDP Growth'] = ch['China GDP Growth'] * 4 * 100
ch = ch.set_index(pd.to_datetime(ch['date']))
gold = gold.set_index(pd.to_datetime(gold['date']))
del ch['date']
del gold['date']

In [97]:
df = df.join(ch)
df = df.join(gold)

In [98]:
df = df.interpolate()
df_use = df.loc['2013-12-01':]
df_use = df_use.interpolate()

In [99]:
df_use

,GS10,GS2,T10Y2YM,BAMLC0A2CAAEY,BAMLC0A4CBBBEY,FEDFUNDS,CORESTICKM159SFRBATL,DPCCRV1Q225SBEA,EXPINF1YR,EXPINF5YR,...,POILWTIUSDM,PCOALAUUSDM,PALUMUSDM,PIORECRUSDM,RTWEXBGS,UNRATE,A191RP1Q027SBEA,B075RC1Q027SBEA,China GDP Growth,GOLD
2013-12-01,2.90,0.34,2.56,2.472,3.838,0.09,1.871190,1.6,1.924031,1.686049,...,97.890455,89.444464,1739.810000,135.790476,89.0909,6.7,2.000000,325.064000,7.200000,1221.51
2014-01-01,2.86,0.39,2.47,2.494,3.806,0.07,1.821814,1.4,1.638245,1.715308,...,94.963043,87.973539,1727.411364,128.119048,89.9843,6.6,0.300000,336.422000,6.666667,1244.27
2014-02-01,2.71,0.33,2.38,2.516,3.774,0.07,1.789186,1.6,1.585828,1.632026,...,100.705000,83.027679,1695.165000,121.370000,90.1124,6.7,2.733333,344.276667,6.133333,1299.58
2014-03-01,2.72,0.40,2.32,2.538,3.742,0.08,1.820857,1.8,1.219462,1.568777,...,100.568095,79.753061,1705.366667,111.833333,89.9378,6.7,5.166667,352.131333,5.600000,1336.08
2014-04-01,2.71,0.42,2.29,2.560,3.710,0.09,2.025161,2.0,1.653011,1.741558,...,102.175000,78.520714,1810.675000,114.580952,89.4059,6.2,7.600000,359.986000,6.400000,1298.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-01,2.90,3.25,-0.35,3.710,4.700,2.33,5.990544,4.7,3.377132,2.186986,...,93.692609,447.447565,2433.916087,109.065217,117.0619,3.7,6.800000,340.564000,6.933333,1764.56
2022-09-01,3.52,3.86,-0.34,4.340,5.330,2.56,6.393735,4.7,4.179150,2.533063,...,84.400000,467.783673,2224.755909,100.840909,119.9764,3.5,5.900000,340.564000,15.600000,1680.78
2022-10-01,3.98,4.38,-0.40,4.795,5.825,3.08,6.367826,4.7,2.881959,2.400708,...,87.286667,426.909184,2255.535238,94.619048,121.4764,3.7,5.000000,340.564000,10.400000,1664.45
2022-11-01,3.89,4.50,-0.61,5.250,6.320,3.78,6.475764,4.7,3.239048,2.530584,...,84.076364,368.258279,2350.716364,94.568182,118.8233,3.6,5.000000,340.564000,5.200000,1725.07
2022-12-01,3.62,4.29,-0.67,4.600,5.550,4.10,6.606693,4.7,2.868119,2.268449,...,84.076364,368.258279,2350.716364,94.568182,116.3915,3.5,5.000000,340.564000,0.000000,1797.55

In [100]:
df_use.to_csv('macro_data_interpolated.csv')

In [101]:
df_use

,GS10,GS2,T10Y2YM,BAMLC0A2CAAEY,BAMLC0A4CBBBEY,FEDFUNDS,CORESTICKM159SFRBATL,DPCCRV1Q225SBEA,EXPINF1YR,EXPINF5YR,...,POILWTIUSDM,PCOALAUUSDM,PALUMUSDM,PIORECRUSDM,RTWEXBGS,UNRATE,A191RP1Q027SBEA,B075RC1Q027SBEA,China GDP Growth,GOLD
2013-12-01,2.90,0.34,2.56,2.472,3.838,0.09,1.871190,1.6,1.924031,1.686049,...,97.890455,89.444464,1739.810000,135.790476,89.0909,6.7,2.000000,325.064000,7.200000,1221.51
2014-01-01,2.86,0.39,2.47,2.494,3.806,0.07,1.821814,1.4,1.638245,1.715308,...,94.963043,87.973539,1727.411364,128.119048,89.9843,6.6,0.300000,336.422000,6.666667,1244.27
2014-02-01,2.71,0.33,2.38,2.516,3.774,0.07,1.789186,1.6,1.585828,1.632026,...,100.705000,83.027679,1695.165000,121.370000,90.1124,6.7,2.733333,344.276667,6.133333,1299.58
2014-03-01,2.72,0.40,2.32,2.538,3.742,0.08,1.820857,1.8,1.219462,1.568777,...,100.568095,79.753061,1705.366667,111.833333,89.9378,6.7,5.166667,352.131333,5.600000,1336.08
2014-04-01,2.71,0.42,2.29,2.560,3.710,0.09,2.025161,2.0,1.653011,1.741558,...,102.175000,78.520714,1810.675000,114.580952,89.4059,6.2,7.600000,359.986000,6.400000,1298.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-01,2.90,3.25,-0.35,3.710,4.700,2.33,5.990544,4.7,3.377132,2.186986,...,93.692609,447.447565,2433.916087,109.065217,117.0619,3.7,6.800000,340.564000,6.933333,1764.56
2022-09-01,3.52,3.86,-0.34,4.340,5.330,2.56,6.393735,4.7,4.179150,2.533063,...,84.400000,467.783673,2224.755909,100.840909,119.9764,3.5,5.900000,340.564000,15.600000,1680.78
2022-10-01,3.98,4.38,-0.40,4.795,5.825,3.08,6.367826,4.7,2.881959,2.400708,...,87.286667,426.909184,2255.535238,94.619048,121.4764,3.7,5.000000,340.564000,10.400000,1664.45
2022-11-01,3.89,4.50,-0.61,5.250,6.320,3.78,6.475764,4.7,3.239048,2.530584,...,84.076364,368.258279,2350.716364,94.568182,118.8233,3.6,5.000000,340.564000,5.200000,1725.07
2022-12-01,3.62,4.29,-0.67,4.600,5.550,4.10,6.606693,4.7,2.868119,2.268449,...,84.076364,368.258279,2350.716364,94.568182,116.3915,3.5,5.000000,340.564000,0.000000,1797.55