In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from fredapi import Fred
fred = Fred(api_key='b6fbbe38921358076e9b7c60d3ffc1ed')

In [11]:
GS10 = fred.get_series('GS10')
df = pd.DataFrame(GS10, columns=['GS10'])

In [15]:
GS10

1953-04-01    2.83
1953-05-01    3.05
1953-06-01    3.11
1953-07-01    2.93
1953-08-01    2.95
              ...
2022-08-01    2.90
2022-09-01    3.52
2022-10-01    3.98
2022-11-01    3.89
2022-12-01    3.62
Length: 837, dtype: float64

In [13]:
df.tail()

            GS10
2022-08-01  2.90
2022-09-01  3.52
2022-10-01  3.98
2022-11-01  3.89
2022-12-01  3.62

In [14]:
tickers = ['DGS2','T10Y2YM','BAMLC0A2CAAEY','BAMLC0A4CBBBEY','FEDFUNDS',
           'CORESTICKM159SFRBATL','DPCCRV1Q225SBEA','EXPINF1YR','EXPINF5YR',
           'PCOPPUSDM','POILWTIUSDM','PCOALAUUSDM','PALUMUSDM','PIORECRUSDM', # 금 제외
           'RTWEXBGS','UNRATE','A191RP1Q027SBEA'] # 중국 gdp growth 제외

In [17]:
for t in tickers:
    temp_series = fred.get_series(t)
    temp_df = pd.DataFrame(temp_series, columns=[t])
    df = df.join(temp_df)
    print(f'Loaded {t} data!')

Loaded DGS2 data!
Loaded T10Y2YM data!
Loaded BAMLC0A2CAAEY data!
Loaded BAMLC0A4CBBBEY data!
Loaded FEDFUNDS data!
Loaded CORESTICKM159SFRBATL data!
Loaded DPCCRV1Q225SBEA data!
Loaded EXPINF1YR data!
Loaded EXPINF5YR data!
Loaded PCOPPUSDM data!
Loaded POILWTIUSDM data!
Loaded PCOALAUUSDM data!
Loaded PALUMUSDM data!
Loaded PIORECRUSDM data!
Loaded RTWEXBGS data!
Loaded UNRATE data!
Loaded A191RP1Q027SBEA data!

In [20]:
df['A191RP1Q027SBEA'].tail(10)

2022-03-01    NaN
2022-04-01    8.5
2022-05-01    NaN
2022-06-01    NaN
2022-07-01    7.7
2022-08-01    NaN
2022-09-01    NaN
2022-10-01    NaN
2022-11-01    NaN
2022-12-01    NaN
Name: A191RP1Q027SBEA, dtype: float64